.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;
  background-color: var(--primary);
  padding: 25px 30px;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;

  a {
    color: var(--white);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--green-light);
      }
    }
  }
  @media (max-width: 765px) {
    grid-template-columns: 1fr;
  }
}