:root {
    --black: #3b434e;
    --gray-light: #ebebeb;
    --white: white;
    --primary: #7653fc;
    --primary-hover: #6344df;
    --red: #fc836d;
    --green: #1dc37e;
    --green-light: #c8f8e4;
}

body {
    color: var(--black);
    background: #f5f6f8;
}